.App {
  text-align: center;
}

.village {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin-top: 3%;
  transition: 800ms;
  box-shadow: 5px 5px 10px gray;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 800ms;
}

.add-btn {
  margin: 2%;
}

.add-btn-2 {
  margin-top:10%;
}
.input{
  margin-top: 5%;
}

.add-smf-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin-left: 44.5%;
}

